In [20]:
import pandas as pd
import numpy as np

In [21]:
df2020 = pd.read_csv('Odata2020File.csv', delimiter=';')
df2020

,Birth,SEXTYPENAME,REGNAME,ClassLangName,EONAME,EOTYPENAME,EORegName,EOAreaName,EOTerName,UkrTestStatus,...,mathLang,mathBall100,physBall100,chemBall100,bioBall100,geoBall100,engBall100,fraBall100,deuBall100,spaBall100
0,2003,чоловіча,Донецька область,російська,"Комунальний заклад ""Маріупольська загальноосві...",середня загальноосвітня школа,Донецька область,м.Маріуполь. Приморський район міста,Приморський район міста,Зараховано,...,російська,"0,0",NaN,NaN,NaN,"143,0",NaN,NaN,NaN,NaN
1,2003,чоловіча,Полтавська область,українська,"Опорний навчальний заклад ""Хомутецька загально...",середня загальноосвітня школа,Полтавська область,Миргородський район,с.Хомутець,Зараховано,...,українська,"155,0",NaN,NaN,NaN,NaN,"104,0",NaN,NaN,NaN
2,2002,чоловіча,м.Київ,українська,"Товариство з обмеженою відповідальністю ""Центр...",середня загальноосвітня школа,м.Київ,м.Київ. Святошинський район міста,Святошинський район міста,Зараховано,...,українська,"137,0","129,0",NaN,NaN,NaN,"126,0",NaN,NaN,NaN
3,2004,жіноча,Львівська область,українська,Львівський коледж транспортної інфраструктури ...,заклад вищої освіти,Львівська область,м.Львів. Галицький район міста,Галицький район міста,Не з’явився,...,українська,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,жіноча,Дніпропетровська область,українська,Кам'янський коледж фізичного виховання,заклад вищої освіти,Дніпропетровська область,м.Кам'янське. Південний район міста,Південний район міста,Не з’явився,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379294,2003,чоловіча,Івано-Франківська область,українська,Калуська загальноосвітня школа І-ІІІ ступенів ...,середня загальноосвітня школа,Івано-Франківська область,м.Калуш,м.Калуш,Зараховано,...,NaN,NaN,NaN,NaN,NaN,"198,0",NaN,NaN,NaN,NaN
379295,2003,жіноча,Вінницька область,українська,"Опорний навчальний заклад ""Чорноминська загаль...",середня загальноосвітня школа,Вінницька область,Піщанський район,с.Чорномин,Не подолав поріг,...,українська,"0,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379296,2003,чоловіча,Полтавська область,українська,Лубенська загальноосвітня школа І-ІІІ ступенів...,середня загальноосвітня школа,Полтавська область,м.Лубни,м.Лубни,Зараховано,...,NaN,NaN,NaN,NaN,NaN,"130,0",NaN,NaN,NaN,NaN
379297,2002,чоловіча,Вінницька область,українська,Вище професійне училище №41 м. Тульчина,вище професійне училище,Вінницька область,Тульчинський район,м.Тульчин,Не подолав поріг,...,NaN,NaN,NaN,NaN,"0,0",NaN,NaN,NaN,NaN,NaN
379298,2003,жіноча,м.Київ,українська,"Гімназія ""Троєщина"" ІІ-ІІІ ступенів Деснянсько...",гімназія,м.Київ,м.Київ. Деснянський район міста,Деснянський район міста,Зараховано,...,українська,"190,0",NaN,NaN,NaN,NaN,"197,0",NaN,NaN,NaN

In [22]:
df2020.drop(columns='REGNAME', axis=1, inplace=True)
df2020 = df2020[df2020['ClassLangName']=='українська']
print(df2020['ClassLangName'].unique())
df2020.drop(columns=['ClassLangName'],axis=1, inplace=True)
df2020

['українська']

/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3954/2412875167.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2020.drop(columns=['ClassLangName'],axis=1, inplace=True)

,Birth,SEXTYPENAME,EONAME,EOTYPENAME,EORegName,EOAreaName,EOTerName,UkrTestStatus,UkrBall100,HistLang,...,mathLang,mathBall100,physBall100,chemBall100,bioBall100,geoBall100,engBall100,fraBall100,deuBall100,spaBall100
1,2003,чоловіча,"Опорний навчальний заклад ""Хомутецька загально...",середня загальноосвітня школа,Полтавська область,Миргородський район,с.Хомутець,Зараховано,"162,0",NaN,...,українська,"155,0",NaN,NaN,NaN,NaN,"104,0",NaN,NaN,NaN
2,2002,чоловіча,"Товариство з обмеженою відповідальністю ""Центр...",середня загальноосвітня школа,м.Київ,м.Київ. Святошинський район міста,Святошинський район міста,Зараховано,"122,0",NaN,...,українська,"137,0","129,0",NaN,NaN,NaN,"126,0",NaN,NaN,NaN
3,2004,жіноча,Львівський коледж транспортної інфраструктури ...,заклад вищої освіти,Львівська область,м.Львів. Галицький район міста,Галицький район міста,Не з’явився,NaN,українська,...,українська,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,жіноча,Кам'янський коледж фізичного виховання,заклад вищої освіти,Дніпропетровська область,м.Кам'янське. Південний район міста,Південний район міста,Не з’явився,NaN,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2001,чоловіча,Житомирський агротехнічний коледж,заклад вищої освіти,Житомирська область,м.Житомир. Богунський район міста,Богунський район міста,Зараховано,"101,0",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379294,2003,чоловіча,Калуська загальноосвітня школа І-ІІІ ступенів ...,середня загальноосвітня школа,Івано-Франківська область,м.Калуш,м.Калуш,Зараховано,"197,5",українська,...,NaN,NaN,NaN,NaN,NaN,"198,0",NaN,NaN,NaN,NaN
379295,2003,жіноча,"Опорний навчальний заклад ""Чорноминська загаль...",середня загальноосвітня школа,Вінницька область,Піщанський район,с.Чорномин,Не подолав поріг,"0,0",українська,...,українська,"0,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379296,2003,чоловіча,Лубенська загальноосвітня школа І-ІІІ ступенів...,середня загальноосвітня школа,Полтавська область,м.Лубни,м.Лубни,Зараховано,"142,0",українська,...,NaN,NaN,NaN,NaN,NaN,"130,0",NaN,NaN,NaN,NaN
379297,2002,чоловіча,Вище професійне училище №41 м. Тульчина,вище професійне училище,Вінницька область,Тульчинський район,м.Тульчин,Не подолав поріг,"0,0",українська,...,NaN,NaN,NaN,NaN,"0,0",NaN,NaN,NaN,NaN,NaN
379298,2003,жіноча,"Гімназія ""Троєщина"" ІІ-ІІІ ступенів Деснянсько...",гімназія,м.Київ,м.Київ. Деснянський район міста,Деснянський район міста,Зараховано,"197,5",NaN,...,українська,"190,0",NaN,NaN,NaN,NaN,"197,0",NaN,NaN,NaN

In [23]:
df2020 = df2020[df2020['mathLang'].isin(['українська', pd.NA])]
print(df2020['mathLang'].unique())
print(df2020['HistLang'].unique())

['українська']
[nan 'українська' 'російська']

In [24]:
df2020 = df2020[df2020['HistLang'].isin(['українська', pd.NA])]
print(df2020['HistLang'].unique())
df2020

['українська']

,Birth,SEXTYPENAME,EONAME,EOTYPENAME,EORegName,EOAreaName,EOTerName,UkrTestStatus,UkrBall100,HistLang,...,mathLang,mathBall100,physBall100,chemBall100,bioBall100,geoBall100,engBall100,fraBall100,deuBall100,spaBall100
3,2004,жіноча,Львівський коледж транспортної інфраструктури ...,заклад вищої освіти,Львівська область,м.Львів. Галицький район міста,Галицький район міста,Не з’явився,NaN,українська,...,українська,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2002,жіноча,Любиковицька загальноосвітня школа І-ІІІ ступе...,середня загальноосвітня школа,Рівненська область,Сарненський район,с.Любиковичі,Зараховано,"165,0",українська,...,українська,"124,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2003,чоловіча,Комунальна установа Сумська загальноосвітня шк...,середня загальноосвітня школа,Сумська область,м.Суми. Зарічний район міста,Зарічний район міста,Зараховано,"159,0",українська,...,українська,"145,0",NaN,NaN,NaN,NaN,"146,0",NaN,NaN,NaN
21,2002,чоловіча,Павлоградська загальноосвітня школа І-ІІІ ступ...,середня загальноосвітня школа,Дніпропетровська область,м.Павлоград,м.Павлоград,Не подолав поріг,"0,0",українська,...,українська,"0,0",NaN,NaN,NaN,"128,0",NaN,NaN,NaN,NaN
31,2003,чоловіча,"Заклад загальної середньої освіти ""Великокурін...",середня загальноосвітня школа,Волинська область,Любешівський район,с.Великий Курінь,Зараховано,"162,0",українська,...,українська,"145,0",NaN,NaN,NaN,"177,0",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379266,2003,чоловіча,Відокремлений структурний підрозділ - Львівськ...,заклад вищої освіти,Львівська область,м.Львів. Галицький район міста,Галицький район міста,Не з’явився,NaN,українська,...,українська,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379284,2002,чоловіча,Хмельницький професійний ліцей електроніки,професійний ліцей відповідного профілю,Хмельницька область,м.Хмельницький,м.Хмельницький,Не з’явився,NaN,українська,...,українська,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379289,2003,жіноча,Житомирський кооперативний коледж бізнесу і пр...,заклад вищої освіти,Житомирська область,м.Житомир. Корольовський район міста,Корольовський район міста,Не з’явився,NaN,українська,...,українська,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379292,2003,жіноча,Одеський технічний коледж Одеської національно...,заклад вищої освіти,Одеська область,м.Одеса. Приморський район міста,Приморський район міста,Зараховано,"137,0",українська,...,українська,"124,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379295,2003,жіноча,"Опорний навчальний заклад ""Чорноминська загаль...",середня загальноосвітня школа,Вінницька область,Піщанський район,с.Чорномин,Не подолав поріг,"0,0",українська,...,українська,"0,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df2020 = df2020[~df2020['UkrTestStatus'].isin(["Не з’явився", "Анульовано"])]
print(df2020['UkrTestStatus'].unique())
df2020

['Зараховано' 'Не подолав поріг' nan]

,Birth,SEXTYPENAME,EONAME,EOTYPENAME,EORegName,EOAreaName,EOTerName,UkrTestStatus,UkrBall100,HistLang,...,mathLang,mathBall100,physBall100,chemBall100,bioBall100,geoBall100,engBall100,fraBall100,deuBall100,spaBall100
10,2002,жіноча,Любиковицька загальноосвітня школа І-ІІІ ступе...,середня загальноосвітня школа,Рівненська область,Сарненський район,с.Любиковичі,Зараховано,"165,0",українська,...,українська,"124,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2003,чоловіча,Комунальна установа Сумська загальноосвітня шк...,середня загальноосвітня школа,Сумська область,м.Суми. Зарічний район міста,Зарічний район міста,Зараховано,"159,0",українська,...,українська,"145,0",NaN,NaN,NaN,NaN,"146,0",NaN,NaN,NaN
21,2002,чоловіча,Павлоградська загальноосвітня школа І-ІІІ ступ...,середня загальноосвітня школа,Дніпропетровська область,м.Павлоград,м.Павлоград,Не подолав поріг,"0,0",українська,...,українська,"0,0",NaN,NaN,NaN,"128,0",NaN,NaN,NaN,NaN
31,2003,чоловіча,"Заклад загальної середньої освіти ""Великокурін...",середня загальноосвітня школа,Волинська область,Любешівський район,с.Великий Курінь,Зараховано,"162,0",українська,...,українська,"145,0",NaN,NaN,NaN,"177,0",NaN,NaN,NaN,NaN
35,2002,жіноча,Гімназія №290,гімназія,м.Київ,м.Київ. Дарницький район міста,Дарницький район міста,Зараховано,"192,0",українська,...,українська,"192,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379246,2003,чоловіча,"Обласний комунальний навчальний заклад ""Букови...",ліцей,Чернівецька область,м.Новодністровськ,м.Новодністровськ,Зараховано,"178,0",українська,...,українська,"139,0",NaN,"152,0",NaN,NaN,NaN,NaN,NaN,NaN
379248,2003,жіноча,Нововодолазький ліцей №1 Нововодолазької селищ...,ліцей,Харківська область,Нововодолазький район,смт Нова Водолага,Зараховано,"152,0",українська,...,українська,"137,0",NaN,NaN,NaN,"163,0",NaN,NaN,NaN,NaN
379250,2003,чоловіча,Сумський коледж харчової промисловості Націона...,заклад вищої освіти,Сумська область,м.Суми. Ковпаківський район міста,Ковпаківський район міста,Зараховано,"147,0",українська,...,українська,"107,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379292,2003,жіноча,Одеський технічний коледж Одеської національно...,заклад вищої освіти,Одеська область,м.Одеса. Приморський район міста,Приморський район міста,Зараховано,"137,0",українська,...,українська,"124,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379295,2003,жіноча,"Опорний навчальний заклад ""Чорноминська загаль...",середня загальноосвітня школа,Вінницька область,Піщанський район,с.Чорномин,Не подолав поріг,"0,0",українська,...,українська,"0,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df2020.drop(columns=['UkrTestStatus', 'HistLang', 'mathLang', 'geoBall100'], axis=1, inplace=True)
df2020

/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3954/3992886298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2020.drop(columns=['UkrTestStatus', 'HistLang', 'mathLang', 'geoBall100'], axis=1, inplace=True)

,Birth,SEXTYPENAME,EONAME,EOTYPENAME,EORegName,EOAreaName,EOTerName,UkrBall100,histBall100,mathBall100,physBall100,chemBall100,bioBall100,engBall100,fraBall100,deuBall100,spaBall100
10,2002,жіноча,Любиковицька загальноосвітня школа І-ІІІ ступе...,середня загальноосвітня школа,Рівненська область,Сарненський район,с.Любиковичі,"165,0","109,0","124,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2003,чоловіча,Комунальна установа Сумська загальноосвітня шк...,середня загальноосвітня школа,Сумська область,м.Суми. Зарічний район міста,Зарічний район міста,"159,0","139,0","145,0",NaN,NaN,NaN,"146,0",NaN,NaN,NaN
21,2002,чоловіча,Павлоградська загальноосвітня школа І-ІІІ ступ...,середня загальноосвітня школа,Дніпропетровська область,м.Павлоград,м.Павлоград,"0,0","113,0","0,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2003,чоловіча,"Заклад загальної середньої освіти ""Великокурін...",середня загальноосвітня школа,Волинська область,Любешівський район,с.Великий Курінь,"162,0","132,0","145,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2002,жіноча,Гімназія №290,гімназія,м.Київ,м.Київ. Дарницький район міста,Дарницький район міста,"192,0","162,0","192,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379246,2003,чоловіча,"Обласний комунальний навчальний заклад ""Букови...",ліцей,Чернівецька область,м.Новодністровськ,м.Новодністровськ,"178,0","156,0","139,0",NaN,"152,0",NaN,NaN,NaN,NaN,NaN
379248,2003,жіноча,Нововодолазький ліцей №1 Нововодолазької селищ...,ліцей,Харківська область,Нововодолазький район,смт Нова Водолага,"152,0","157,0","137,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
379250,2003,чоловіча,Сумський коледж харчової промисловості Націона...,заклад вищої освіти,Сумська область,м.Суми. Ковпаківський район міста,Ковпаківський район міста,"147,0","173,0","107,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
379292,2003,жіноча,Одеський технічний коледж Одеської національно...,заклад вищої освіти,Одеська область,м.Одеса. Приморський район міста,Приморський район міста,"137,0","120,0","124,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
379295,2003,жіноча,"Опорний навчальний заклад ""Чорноминська загаль...",середня загальноосвітня школа,Вінницька область,Піщанський район,с.Чорномин,"0,0","0,0","0,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df2020.rename(columns={'SEXTYPENAME':'SexType', 'EOTYPENAME':'SchoolType', 'EORegName':'SchoolRegion', 'EOAreaName':'SchoolArea', 'UkrBall100':'Ukr', 'histBall100':'Hist', 'mathBall100':'Math', 'physBall100':'Phys', 'chemBall100':'Chem', 'bioBall100':'Bio', 'engBall100':'Eng', 'fraBall100':'Fra', 'deuBall100':'Deu', 'spaBall100':'Spa'}, inplace=True)
df2020['SexType'] = df2020['SexType'].apply(lambda x: 1 if x == 'чоловіча' else 0)
df2020['TestType'] = 'ZNO2020'
df2020.drop(columns=['EONAME'], axis=1, inplace=True)
df2020

/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3954/758444544.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2020.rename(columns={'SEXTYPENAME':'SexType', 'EOTYPENAME':'SchoolType', 'EORegName':'SchoolRegion', 'EOAreaName':'SchoolArea', 'UkrBall100':'Ukr', 'histBall100':'Hist', 'mathBall100':'Math', 'physBall100':'Phys', 'chemBall100':'Chem', 'bioBall100':'Bio', 'engBall100':'Eng', 'fraBall100':'Fra', 'deuBall100':'Deu', 'spaBall100':'Spa'}, inplace=True)
/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3954/758444544.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2020['SexType'] = df2020['SexType'].apply(lambda x: 1 if x == 'чоловіча' else 0)
/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3954/758444544.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2020['TestType'] = 'ZNO2020'
/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3954/758444544.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2020.drop(columns=['EONAME'], axis=1, inplace=True)

,Birth,SexType,SchoolType,SchoolRegion,SchoolArea,EOTerName,Ukr,Hist,Math,Phys,Chem,Bio,Eng,Fra,Deu,Spa,TestType
10,2002,0,середня загальноосвітня школа,Рівненська область,Сарненський район,с.Любиковичі,"165,0","109,0","124,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020
18,2003,1,середня загальноосвітня школа,Сумська область,м.Суми. Зарічний район міста,Зарічний район міста,"159,0","139,0","145,0",NaN,NaN,NaN,"146,0",NaN,NaN,NaN,ZNO2020
21,2002,1,середня загальноосвітня школа,Дніпропетровська область,м.Павлоград,м.Павлоград,"0,0","113,0","0,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020
31,2003,1,середня загальноосвітня школа,Волинська область,Любешівський район,с.Великий Курінь,"162,0","132,0","145,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020
35,2002,0,гімназія,м.Київ,м.Київ. Дарницький район міста,Дарницький район міста,"192,0","162,0","192,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379246,2003,1,ліцей,Чернівецька область,м.Новодністровськ,м.Новодністровськ,"178,0","156,0","139,0",NaN,"152,0",NaN,NaN,NaN,NaN,NaN,ZNO2020
379248,2003,0,ліцей,Харківська область,Нововодолазький район,смт Нова Водолага,"152,0","157,0","137,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020
379250,2003,1,заклад вищої освіти,Сумська область,м.Суми. Ковпаківський район міста,Ковпаківський район міста,"147,0","173,0","107,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020
379292,2003,0,заклад вищої освіти,Одеська область,м.Одеса. Приморський район міста,Приморський район міста,"137,0","120,0","124,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020
379295,2003,0,середня загальноосвітня школа,Вінницька область,Піщанський район,с.Чорномин,"0,0","0,0","0,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020

In [28]:
urban, village, nan = 0, 0, 0
values = list(df2020['EOTerName'].values)
print(len(values))
for occurrence in df2020['EOTerName']:
       # occurrence = str(occurrence)
       if 'nan' in str(occurrence) or 'NaN' in str(occurrence):
              # values.remove(occurrence)
              nan += 1
       if 'м.' in str(occurrence) or 'район міста' in str(occurrence):
              # values.remove(occurrence)
              urban += 1
       if 'с.' in str(occurrence) or 'смт ' in str(occurrence) or 'смт.' in str(occurrence) or 'с-ще ' in str(occurrence):
              # values.remove(occurrence)
              village += 1
print(nan)
print(urban)
print(village)
print(nan + urban + village)

60153
0
40907
19246
60153

In [29]:
df2020['Urban'] = np.NaN
urban_mask = df2020['EOTerName'].str.contains('м\.|район міста', case=False, na=False)
village_mask = df2020['EOTerName'].apply(lambda x: 'с.' in str(x) or 'смт ' in str(x) or 'смт.' in str(x) or 'с-ще ' in str(x))
df2020.loc[urban_mask, 'Urban'] = 1
df2020.loc[village_mask, 'Urban'] = 0
df2020

/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3954/2610553900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2020['Urban'] = np.NaN

,Birth,SexType,SchoolType,SchoolRegion,SchoolArea,EOTerName,Ukr,Hist,Math,Phys,Chem,Bio,Eng,Fra,Deu,Spa,TestType,Urban
10,2002,0,середня загальноосвітня школа,Рівненська область,Сарненський район,с.Любиковичі,"165,0","109,0","124,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020,0.0
18,2003,1,середня загальноосвітня школа,Сумська область,м.Суми. Зарічний район міста,Зарічний район міста,"159,0","139,0","145,0",NaN,NaN,NaN,"146,0",NaN,NaN,NaN,ZNO2020,1.0
21,2002,1,середня загальноосвітня школа,Дніпропетровська область,м.Павлоград,м.Павлоград,"0,0","113,0","0,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020,1.0
31,2003,1,середня загальноосвітня школа,Волинська область,Любешівський район,с.Великий Курінь,"162,0","132,0","145,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020,0.0
35,2002,0,гімназія,м.Київ,м.Київ. Дарницький район міста,Дарницький район міста,"192,0","162,0","192,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379246,2003,1,ліцей,Чернівецька область,м.Новодністровськ,м.Новодністровськ,"178,0","156,0","139,0",NaN,"152,0",NaN,NaN,NaN,NaN,NaN,ZNO2020,1.0
379248,2003,0,ліцей,Харківська область,Нововодолазький район,смт Нова Водолага,"152,0","157,0","137,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020,0.0
379250,2003,1,заклад вищої освіти,Сумська область,м.Суми. Ковпаківський район міста,Ковпаківський район міста,"147,0","173,0","107,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020,1.0
379292,2003,0,заклад вищої освіти,Одеська область,м.Одеса. Приморський район міста,Приморський район міста,"137,0","120,0","124,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020,1.0
379295,2003,0,середня загальноосвітня школа,Вінницька область,Піщанський район,с.Чорномин,"0,0","0,0","0,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2020,0.0

In [30]:
df2020.drop(columns=['EOTerName'], inplace=True)
df2020.to_csv('data2020.csv', index=False, sep=';', encoding='utf-8')
df2020.to_parquet('data2020_parquet.parquet', index=False)

/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3954/989791671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2020.drop(columns=['EOTerName'], inplace=True)