In [1]:
import pandas as pd
import numpy as np

In [2]:
df2022 = pd.read_csv('Odata2022File.csv', delimiter=';')
df2022

,OUTID,Birth,SexTypeName,RegName,AREANAME,TERNAME,RegTypeName,TerTypeName,EONAME,EOTypeName,...,Block1Ball,Block2,Block2Ball100,Block2Ball,Block3,Block3Ball100,Block3Ball,PTRegName,PTAreaName,PTTerName
0,d60381f3-8d71-441e-817e-49b9fa8b43dd,2005,чоловіча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,14.0,Історія України,"147,0",15.0,Математика,"128,0",5.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
1,eb25a9fc-b757-4321-a2b4-ebb1b635397d,2005,чоловіча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,11.0,Історія України,"149,0",17.0,Математика,"136,0",8.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
2,1cb161bd-51ed-4d24-b605-1d45db63cada,2005,жіноча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,25.0,Історія України,"158,0",24.0,Математика,"185,0",28.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
3,0311b8d8-67bb-49a4-a0b9-f049b7ef4184,2005,жіноча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,20.0,Історія України,"146,0",14.0,Математика,"148,0",14.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
4,a8b35a53-feac-4e42-aed8-8d6ffab7decf,2005,чоловіча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,24.0,Історія України,"144,0",13.0,Математика,"144,0",12.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234099,6cbe3454-80f0-42b5-8d6d-c2ead687d804,2005,чоловіча,Волинська область,Володимирський район,с.Заболотці,Випускник закладу загальної середньої освіти 2...,"селище, село",Заболотцівський ліцей Литовезької сільської ра...,середня загальноосвітня школа,...,13.0,Історія України,"136,0",9.0,Математика,"148,0",14.0,Волинська область,м.Нововолинськ,м.Нововолинськ
234100,b897557b-c01b-49d4-8624-b351aaafe5ff,2005,жіноча,Волинська область,Володимирський район,с.Заболотці,Випускник закладу загальної середньої освіти 2...,"селище, село",Заболотцівський ліцей Литовезької сільської ра...,середня загальноосвітня школа,...,31.0,Історія України,"170,0",29.0,Математика,"162,0",22.0,Волинська область,м.Нововолинськ,м.Нововолинськ
234101,dcec644b-dcec-47ee-9971-6beebd1a929b,2005,чоловіча,Волинська область,Володимирський район,с.Заболотці,Випускник закладу загальної середньої освіти 2...,"селище, село",Заболотцівський ліцей Литовезької сільської ра...,середня загальноосвітня школа,...,21.0,Історія України,"152,0",20.0,Математика,"154,0",19.0,Волинська область,м.Нововолинськ,м.Нововолинськ
234102,cb4156bb-a624-4274-9d38-28be3096f6b9,2004,жіноча,Волинська область,Володимирський район,с.Заболотці,Випускник закладу загальної середньої освіти 2...,"селище, село",Заболотцівський ліцей Литовезької сільської ра...,середня загальноосвітня школа,...,12.0,Історія України,"131,0",7.0,Математика,"131,0",6.0,Волинська область,м.Нововолинськ,м.Нововолинськ
234103,7514327a-0831-4adc-8277-41d74e543884,2005,жіноча,Херсонська область,Каховський район,с.Павлівка (Присиваська),Випускник закладу загальної середньої освіти 2...,"селище, село",Павлівська загальноосвітня школа I-III ступені...,середня загальноосвітня школа,...,NaN,Історія України,NaN,NaN,Математика,NaN,NaN,Одеська область,"м.Одеса, Приморський район міста",Приморський район міста

In [3]:
columns_to_drop = ['OUTID', 'RegName', 'AREANAME', 'TERNAME', 'RegTypeName', 'TerTypeName', 'EONAME', 'EOParent', 'TestDate', 'Block1', 'Block1Ball', 'Block2', 'Block2Ball', 'Block3Ball', 'Block3', 'PTRegName', 'PTAreaName', 'PTTerName']
df2022.drop(columns_to_drop, axis=1, inplace=True)
df2022

,Birth,SexTypeName,EOTypeName,EORegName,EOAreaName,EOTerName,Test,TestStatus,Block1Ball100,Block2Ball100,Block3Ball100
0,2005,чоловіча,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,НМТ,Зараховано,"142,0","147,0","128,0"
1,2005,чоловіча,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,НМТ,Зараховано,"137,0","149,0","136,0"
2,2005,жіноча,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,НМТ,Зараховано,"169,0","158,0","185,0"
3,2005,жіноча,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,НМТ,Зараховано,"154,0","146,0","148,0"
4,2005,чоловіча,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,НМТ,Зараховано,"166,0","144,0","144,0"
...,...,...,...,...,...,...,...,...,...,...,...
234099,2005,чоловіча,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,НМТ,Зараховано,"140,0","136,0","148,0"
234100,2005,жіноча,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,НМТ,Зараховано,"184,0","170,0","162,0"
234101,2005,чоловіча,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,НМТ,Зараховано,"157,0","152,0","154,0"
234102,2004,жіноча,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,НМТ,Зараховано,"139,0","131,0","131,0"
234103,2005,жіноча,середня загальноосвітня школа,Херсонська область,Каховський район,с.Павлівка (Присиваська),НМТ,Не з’явився,NaN,NaN,NaN

In [4]:
df2022.rename(columns={'SexTypeName':'SexType', 'EOTypeName': 'SchoolType', 'EORegName':'SchoolRegion', 'EOAreaName':'SchoolArea', 'Test':'TestType', 'Block1':'Block1', 'Block1Ball100':'Ukr', 'Block2Ball100':'Hist', 'Block3Ball100':'Math', 'TestStatus':'Status'}, inplace=True)
df2022

,Birth,SexType,SchoolType,SchoolRegion,SchoolArea,EOTerName,TestType,Status,Ukr,Hist,Math
0,2005,чоловіча,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,НМТ,Зараховано,"142,0","147,0","128,0"
1,2005,чоловіча,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,НМТ,Зараховано,"137,0","149,0","136,0"
2,2005,жіноча,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,НМТ,Зараховано,"169,0","158,0","185,0"
3,2005,жіноча,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,НМТ,Зараховано,"154,0","146,0","148,0"
4,2005,чоловіча,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,НМТ,Зараховано,"166,0","144,0","144,0"
...,...,...,...,...,...,...,...,...,...,...,...
234099,2005,чоловіча,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,НМТ,Зараховано,"140,0","136,0","148,0"
234100,2005,жіноча,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,НМТ,Зараховано,"184,0","170,0","162,0"
234101,2005,чоловіча,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,НМТ,Зараховано,"157,0","152,0","154,0"
234102,2004,жіноча,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,НМТ,Зараховано,"139,0","131,0","131,0"
234103,2005,жіноча,середня загальноосвітня школа,Херсонська область,Каховський район,с.Павлівка (Присиваська),НМТ,Не з’явився,NaN,NaN,NaN

In [5]:
df2022 = df2022[~df2022['Status'].isin(["Не з’явився", "Анульовано"])]
df2022['SexType'] = df2022['SexType'].apply(lambda x: 1 if x == 'чоловіча' else 0)
df2022['TestType'] = 'NMT2022'
df2022['Status'] = df2022['Status'].apply(lambda x: 1 if x == 'Зараховано' else 0)
df2022

/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3931/159818117.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2022['SexType'] = df2022['SexType'].apply(lambda x: 1 if x == 'чоловіча' else 0)
/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3931/159818117.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2022['TestType'] = 'NMT2022'
/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3931/159818117.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2022['Status'] = df2022['Status'].apply(lambda x: 1 if x == 'Зараховано' else 0)

,Birth,SexType,SchoolType,SchoolRegion,SchoolArea,EOTerName,TestType,Status,Ukr,Hist,Math
0,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"142,0","147,0","128,0"
1,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"137,0","149,0","136,0"
2,2005,0,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"169,0","158,0","185,0"
3,2005,0,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"154,0","146,0","148,0"
4,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"166,0","144,0","144,0"
...,...,...,...,...,...,...,...,...,...,...,...
234098,2005,0,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"139,0","142,0","149,0"
234099,2005,1,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"140,0","136,0","148,0"
234100,2005,0,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"184,0","170,0","162,0"
234101,2005,1,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"157,0","152,0","154,0"
234102,2004,0,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"139,0","131,0","131,0"

In [6]:
urban, village, nan = 0, 0, 0
values = list(df2022['EOTerName'].values)
print(len(values))
for occurrence in df2022['EOTerName']:
       # occurrence = str(occurrence)
       if 'nan' in str(occurrence) or 'NaN' in str(occurrence):
              # values.remove(occurrence)
              nan += 1
       if 'м.' in str(occurrence) or 'район міста' in str(occurrence):
              # values.remove(occurrence)
              urban += 1
       if 'с.' in str(occurrence) or 'смт ' in str(occurrence) or 'смт.' in str(occurrence) or 'с-ще ' in str(occurrence):
              # values.remove(occurrence)
              village += 1
print(nan)
print(urban)
print(village)
print(nan + urban + village)

214074
32179
133467
48428
214074

In [7]:
df2022['Phys'] = np.NaN
df2022['Chem'] = np.NaN
df2022['Bio'] = np.NaN
df2022['Eng'] = np.NaN
df2022['Fra'] = np.NaN
df2022['Deu'] = np.NaN
df2022['Spa'] = np.NaN
df2022

/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3931/987224423.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2022['Phys'] = np.NaN
/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3931/987224423.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2022['Chem'] = np.NaN
/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3931/987224423.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2022['Bio'] = np.NaN
/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3931/987224423.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2022['Eng'] = np.NaN
/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3931/987224423.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2022['Fra'] = np.NaN
/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3931/987224423.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2022['Deu'] = np.NaN
/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3931/987224423.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2022['Spa'] = np.NaN

,Birth,SexType,SchoolType,SchoolRegion,SchoolArea,EOTerName,TestType,Status,Ukr,Hist,Math,Phys,Chem,Bio,Eng,Fra,Deu,Spa
0,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"142,0","147,0","128,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"137,0","149,0","136,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,0,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"169,0","158,0","185,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,0,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"154,0","146,0","148,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"166,0","144,0","144,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234098,2005,0,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"139,0","142,0","149,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
234099,2005,1,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"140,0","136,0","148,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
234100,2005,0,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"184,0","170,0","162,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
234101,2005,1,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"157,0","152,0","154,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
234102,2004,0,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"139,0","131,0","131,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df2022['Urban'] = np.NaN
urban_mask = df2022['EOTerName'].str.contains('м\.|район міста', case=False, na=False)
village_mask = df2022['EOTerName'].apply(lambda x: 'с.' in str(x) or 'смт ' in str(x) or 'смт.' in str(x) or 'с-ще ' in str(x))
df2022.loc[urban_mask, 'Urban'] = 1
df2022.loc[village_mask, 'Urban'] = 0
df2022

/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3931/1042620382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2022['Urban'] = np.NaN

,Birth,SexType,SchoolType,SchoolRegion,SchoolArea,EOTerName,TestType,Status,Ukr,Hist,Math,Phys,Chem,Bio,Eng,Fra,Deu,Spa,Urban
0,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"142,0","147,0","128,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"137,0","149,0","136,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2005,0,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"169,0","158,0","185,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,2005,0,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"154,0","146,0","148,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,с.Гусаків,NMT2022,1,"166,0","144,0","144,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234098,2005,0,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"139,0","142,0","149,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
234099,2005,1,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"140,0","136,0","148,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
234100,2005,0,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"184,0","170,0","162,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
234101,2005,1,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"157,0","152,0","154,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
234102,2004,0,середня загальноосвітня школа,Волинська область,Володимирський район,с.Заболотці,NMT2022,1,"139,0","131,0","131,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [9]:
df2022.drop(columns='EOTerName', inplace=True)
df2022

/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3931/2234195672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2022.drop(columns='EOTerName', inplace=True)

,Birth,SexType,SchoolType,SchoolRegion,SchoolArea,TestType,Status,Ukr,Hist,Math,Phys,Chem,Bio,Eng,Fra,Deu,Spa,Urban
0,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,NMT2022,1,"142,0","147,0","128,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,NMT2022,1,"137,0","149,0","136,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2005,0,навчально-виховний комплекс,Львівська область,Яворівський район,NMT2022,1,"169,0","158,0","185,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,2005,0,навчально-виховний комплекс,Львівська область,Яворівський район,NMT2022,1,"154,0","146,0","148,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,NMT2022,1,"166,0","144,0","144,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234098,2005,0,середня загальноосвітня школа,Волинська область,Володимирський район,NMT2022,1,"139,0","142,0","149,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
234099,2005,1,середня загальноосвітня школа,Волинська область,Володимирський район,NMT2022,1,"140,0","136,0","148,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
234100,2005,0,середня загальноосвітня школа,Волинська область,Володимирський район,NMT2022,1,"184,0","170,0","162,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
234101,2005,1,середня загальноосвітня школа,Волинська область,Володимирський район,NMT2022,1,"157,0","152,0","154,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
234102,2004,0,середня загальноосвітня школа,Волинська область,Володимирський район,NMT2022,1,"139,0","131,0","131,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [10]:
df2022.drop(columns='Status', axis=1, inplace=True)
df2022.to_csv('data2022.csv', index=False, sep=';', encoding='utf-8')
df2022.to_parquet('data2022_parquet.parquet', index=False)

/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3931/1258037465.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2022.drop(columns='Status', axis=1, inplace=True)